  
.popup-on {
    overflow: hidden;
    max-height:100vh;
}


  .container {
    width: 80%;
    margin: 10vh auto;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 8887;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 1s ease-in-out;
  }
  .modal-content {
    background: #FFF;
    margin: 10vh auto;
    overflow-y: auto;
    padding: 20px;
    width: 90%;
  }
  .modal-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .modal-close {

    text-decoration: none;
    font-size: 28px;
    font-weight: 100;
  }
  .modal-close:hover, .modal-close:focus {
    text-decoration: none;
    cursor: pointer;
  }
  .modal-title {
    color: #FFF;
  }
  
  @media (min-width: 1366px) {
    .modal-content {
      margin: 10vh auto;
      padding: 20px;
      width: 30%;
    }
  }